*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /*   background-color: black; */
    width: 100%;
    height: 100%;
}

#home{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
}

.front{
    width: 100%;
    height: 100vh;
    background-color: rgb(185,138,83);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    width: 100%;
    height: 10%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul li{
    list-style: none;
 }

nav h1{
    font-size: 25px;
    color: rgba(240,248,255,0.737);
}
nav ul a{
    font-size: 22px;
    text-decoration: none;
    color: rgba(240,248,255,0.774);
}

.front h1{
    font-size: 20vw;
    color: rgba(240,248,255,0.619);
}

#coffee{
    width: 30%;
    position: absolute;
    filter:drop-shadow(2px 2px 10px black);
    z-index: 1;
}

#coffeeb1{
    width:13%;
    position: absolute;
    filter:drop-shadow(2px 2px 10px black);
    top:6%;
    left:34%;
        transform: rotate(20deg);

}#coffeeb2{
    width:13%;
    position: absolute;
    filter:drop-shadow(2px 2px 10px black);
    top:67%;
    left:53%;
        transform: rotate(20deg);
        z-index: 1;

}#coffeeb3{
    width:13%;
    position: absolute;
    filter:drop-shadow(2px 2px 10px black);
    top:38%;
    left:22%;
        transform: rotate(131deg);

}#coffeeb4{
    width:13%;
    position: absolute;
    filter:drop-shadow(2px 2px 10px black);
    top:29%;
    left:73%;
    transform: rotate(113deg);

}#coffeeb5{
    width:13%;
    position: absolute;
    filter:drop-shadow(2px 2px 10px black);
    top:7%;
    left:60%;
        transform: rotate(-31deg);
}

#about{
        width: 100%;
    height: 100vh;
    background-color: rgb(185,138,83);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    z-index: -1;
}

.card{
    width: 26%;
    height: 70%;
    background-color: rgba(240,248,255,0.347      );
    box-shadow: 2px 2px 10px black;
    border-radius: 30%;
    
}

.para{
    width:80%;
    height: 60%;
    font-size: 2vw;
    color: rgba(240,248,255,0.463);
}

#image1 {
    width: 58%;
    position: absolute;
    filter: drop-shadow(2px 2px 10px black);
    z-index: 1;
    top:-129px
}
#image2{
    width: 105%;
    position: absolute;
    top: -250px;
    filter: drop-shadow(2px 2px 10px black);
    z-index: 1;
}
#menu{
    width: 100%;
    height: 100vh;
    background-color: rgb(185,138,83);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    z-index: -1;
    gap: 20px;
}

#contact{
    width: 100%;
    height: 100vh;
    background-color: rgb(185,138,83);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start ;
    padding: 40px;
    z-index: -2;
    gap: 20px;
}


.card1, .card2, .card3{
   display: flex;
   align-items: center;
   justify-content: center; 
   position: relative;

}

#bean1{
    width:60%;
    position: absolute;
    top: 150px;
    left:-28px;
    rotate: 35deg;

}
#bean2{
    width:60%;
    position: absolute;
    top:170px;
    right:-50px;
    rotate: -40deg;

}

.form{
    width: 40%;
    height: 80%;
    background-color: rgba(240,248,255,0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2%;
    position: relative;
    border-radius: 20px;
    box-shadow:2px 2px 10px black ;
} 


.form h1{
    font-size: 6vw;
    position: absolute;
    top:-55px;
    color: rgba(240,248,255,0.571);
    -webkit-text-stroke: 2px  rgb(185,138,83);

}

.form button{
    padding:10px 30px;
    font-size: 20px;
    background: transparent;
    border: 3px solid rgb(185,138,83);
    color:rgb(185,138,83);
    border-radius: 20px;
    cursor: pointer;
}

.form button:hover{
    background-color:rgb(185,138,83);
    color: rgba(240,248,255,0.726);
}
.form input{
    width: 80%;
    height: 10%;
     border: 3px solid rgb(185,138,83);
    color:rgb(185,138,83);
    border-radius: 20px;
    padding: 20px;
}

.form textarea{
    width: 80%;
    height: 10%;
     border: 3px solid rgb(185,138,83);
    color:rgb(185,138,83);
    border-radius: 20px;
    padding: 20px;
    /* margin-top: 20px; */
}
 
